@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .page {
    @apply p-5 md:px-8;
  }

  .title {
    @apply text-2xl font-bold md:text-3xl;
  }

  .subtitle {
    @apply text-lg font-semibold md:text-xl;
  }

  .card-btn {
    @apply flex-1 bg-blue-50 text-blue-600 px-4 py-2.5 rounded-lg text-sm font-semibold hover:bg-blue-100 transition-colors duration-200 text-center border border-blue-200 hover:border-blue-300;
  }

  .label {
    @apply block text-sm font-medium text-gray-700 mb-1;
  }

  .input {
    @apply block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm p-2 border;
  }

  .button {
    @apply border shadow p-2 rounded-md hover:shadow-lg transition;
  }
}

@layer utilities {
  th {
    @apply py-[15px] px-[20px] whitespace-nowrap;
  }

  td {
    @apply p-[20px] text-center border-b border-zinc-300;
  }
}